@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

p {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-family: "Roboto", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1440px;
}

.theme {
    /* color: red; */
}


header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1020;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Ensure no parent is breaking sticky */



.logo-div img {
    max-height: 65px;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    /* display: inline-block; */
    margin-right: 0px;
    width: auto;
    display: flex;
    /* min-height: 4.6875rem; */
    align-items: center;
    position: relative;
    padding: 8px;
}

.header-nav ul li a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #0e2c2e;
    padding: 5px 10px;

    font-size: 16px;
    transition: color 0.3s ease;
}

/* Underline effect */
.header-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #bbb;
    transition: transform 0.3s ease;
    z-index: 0;
}

/* Hover and active color */
.header-nav ul li a:hover,
.header-nav ul li a.active {
    color: #bbb;
}

/* Underline animation on hover and active */
.header-nav ul li a:hover::after,
.header-nav ul li a.active::after {
    transform: translateX(-50%) scaleX(1);
}

.toggle-icon-div {
    display: none;
}

.toggle-icon-div svg {
    width: 25px;
    height: auto;
}

.menu-close-btn {
    display: none;
    top: 20px;
    right: 20px;
}

.menu-close-btn svg {
    width: 25px;
    height: auto;
    fill: white;
    cursor: pointer;
}






/* banner */





.banner-section {
    height: 70vh;
    overflow: hidden;
}

.banner-item {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
}

.banner-content {
    position: relative;
    z-index: 2;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #fff;
    text-align: left;
}


.banner-content h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 500;
}

.banner-content p {
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 200;
}

/* Overlay */
.banner-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* You can adjust the darkness here */
    z-index: 1;
}

.theme {
    color: white;
    /* Gold or your theme color */
}

.banner-content h1,
.banner-content p {
    transition: all 0.6s ease;
}




.after-banner-main {
    padding: 30px 0;
}

.after-banner-main p {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    color: black;
}





















.card-section row {
    width: 90%;
    margin: 0 auto;
}

.card-section .row>div {
    padding: 0px 25px;

}




.card-section {
    /* background-image: url('../images/tour-item-bg.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: #f5f5f5; */
    padding: 60px 0;
    position: relative;
    z-index: 1;
}

.card-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* Dark overlay */
    z-index: -1;
    /* Keeps it behind the content */
}

.card {
    background-color: transparent;
    color: white;
    border: none;
    padding: 20px;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.card-section .card-img-top {
    height: 430px;
    object-fit: cover;
}

.card-section .card-img {
    border-radius: 0px;
}

.card-section .card-img-top {
    height: 360px;
    object-fit: cover;
}


.card-section h2 {
    font-family: "Basic", sans-serif;
    color: #0e2c2e;
    font-size: 30px;
}

.card-section p {
    /* font-family: "Raleway", sans-serif; */
    font-size: 16px;
    padding: 10px 0;
    color: #565656;
}

.card-section li {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    color: #565656;
}

.card-body ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 3px solid #0e2c2e;
    background: var(--primary-color);
    background-image: -webkit-linear-gradient(30deg, #0e2c2e 50%, transparent 50%);
    background-image: linear-gradient(30deg, #0e2c2e 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background-position 0.5s ease-in-out, color 0.3s ease;
    transition: background-position 0.5s ease-in-out, color 0.3s ease;
}

.card-btn:hover {
    background-position: 100%;
    color: #0e2c2e;
}


.card-row>div {
    padding-bottom: 10px;
}

.card-row {
    padding: 50px 0;
}


.card-row .card-body {
    padding-left: 0;
    padding-right: 0;
    color: white;
}





.why {
    background-color: #dfe6e9;
    color: white;
    padding: 50px 0;
}

.why h2 {
    font-family: "Basic", sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    padding-bottom: 0px;
    color: #0e2c2e;
}

.why ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.why li {
    font-family: "Raleway", sans-serif;
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #565656;
}

.why p {
    font-family: "Raleway", sans-serif;
    padding-bottom: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 15px;
    color: #565656;
}

.why input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #0e2c2e;
    padding: 0.625rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    resize: none;
}

.loop_btn {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    border: none;
    text-align: center;
    background-color: #fff;
    color: #091d1c;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    padding: 0.9375rem 1.875rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 4.875rem;
    transition: 0.8s all ease-in-out;
}

/* Pseudo-elements for background effect */
.loop_btn::after,
.loop_btn::before {
    content: "";
    display: block;
    width: 14.125rem;
    height: 5.12rem;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #0e2c2e;
    transition: 1.5s ease;
}

/* Initial position (outside the button) */
.loop_btn::after {
    left: calc(100% + 4em);
    top: calc(100% + 4em);
}

.loop_btn::before {
    top: -36px;
    left: -2em;
}

/* Animate into view on hover */
.loop_btn:hover::after {
    left: 50%;
    top: 50%;
}

.loop_btn:hover::before {
    left: 50%;
    top: 50%;
}

/* Optional: Change text color on hover */
.loop_btn:hover {
    color: #fff;
}

.why-pici {
    border-right: 1px solid #0e2c2e;
}

.loop-div {
    padding-left: 140px;
}








.disclaimer_sec {
    color: rgba(255, 255, 255, 1);
    background-color: #0e2c2e;
    padding-top: 70px;
}

.disclaimer_wrap h3 {
    font-family: "Basic", sans-serif;
}

.disclaimer_wrap p {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    padding-bottom: 50px;
}




.site-footer {
    color: rgba(255, 255, 255, 1);
    background-color: #0e2c2e;
    padding-top: 70px;
    padding-bottom: 30px !important;
}

.footer-top h5 {
    color: white;
    font-size: 22px;
}

.footer-logo-quote {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}


footer li a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 10px 0;
}

.footer-contact svg {
    width: 37px;
    height: auto;
}

.footer-logo img {}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-top {
    padding-bottom: 50px;
}


.footer-bottom p {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}










ul.list-unstyled a {
    position: relative;
    display: inline-block;
    color: inherit;
    /* or your default text color */
    text-decoration: none;
    transition: color 0.3s ease;
}

ul.list-unstyled a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
}

ul.list-unstyled a:hover {
    color: white;
}

ul.list-unstyled a:hover::after {
    width: 100%;
}

.social-icons svg {
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
}

.social-icons a:hover svg {
    transform: translateY(-5px);
}

.social-icons a {
    display: inline-block;
    cursor: pointer;
}




.Copyright {
    display: flex;
    justify-content: flex-end;
}



.card-body {
    padding-left: 0;
    padding-right: 0;
}


.hide {
    overflow: hidden;
}




















/* trail page */

.sub-page-banner-content h1 {
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.trail-banner-section {
    height: 70vh;
}

.sub-page-banner-content {
    height: 70vh;
}

.trail-page-banner {
    height: 70vh;
}

.trail-card-section {
    background-image: url('../images/trail-card-bg.jpg');
}

.trail-card-section {
    position: relative;
    background-image: url('../images/trail-card-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.trail-card-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
}


.after-card {
    background-color: rgb(24 24 24 / 92%);
    color: white;
}

.after-card h2 {
    font-family: "Basic", sans-serif;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-bottom: 20px;
    color: #0e2c2e;
}

.after-card p {
    color: white;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}








.faq {
    padding: 40px 0 60px;
}


.section_heading {
    font-family: "Basic", sans-serif;
    font-size: 45px;
    letter-spacing: 1px;
    padding-bottom: 40px;
    color: #0e2c2e;
}

.accordion-button {
    font-weight: 500;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    background-color: #0e2c2e;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #0e2c2e;

}

.faq-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* or remove this line */
    display: block;
    border-radius: 10px;
    /* Optional: if you want it styled a bit */
}

.trav-faq-ans {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    padding: 20px 20px 30px;
}

.accordion-button::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

/* Optional: if you want to set a completely different color manually using an inline SVG background */
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}



.explore-page-banner h1 {
    font-size: 45px;
}









.pick-main h3 {
    /* padding-bottom: 0px; */
    padding-top: 10px;
    color: #FFD700;
    font-size: 20px;
}

.pick-main p {
    font-size: 15px;
    padding-top: 0px !important;
}

/* .pick-main .carousel-control-prev {
    left: -160px;
}
.pick-main .carousel-control-next {
    right: -155px;
} */
.pick-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pick-card .card-body {
    flex-grow: 1;
    /* pushes content evenly */
}

.pick-card img {
    height: 360px;
    object-fit: cover;
    width: 100%;
}

.suit-travel {
    font-size: 75px;
}






.stay-loca-section {
    background-image: url('../images/accomodation-bg.jpg');
}



.need-help a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    padding-top: 10px;
    font-size: 20px;
}

.need-help a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    /* adjust distance from text */
    width: 0;
    height: 2px;
    background-color: #8f8f8f;
    transition: width 0.3s ease;
}

.need-help a:hover {
    color: #8f8f8f !important;
}

.need-help a:hover::after {
    width: 100%;
}


/* .trip-toolkit-bg {
    background-image: url('../images/trip-tookit-bg.jpg');
} */



.logbook-heading {
    font-size: 40px;
}



.logbook-bg {

    background-image: none;
    background-color: rgb(24 24 24 / 92%);

}



.about-bg {
    background-image: none;
    background-color: rgb(24 24 24 / 92%);
}


.contact-form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #0e2c2e;
    border-right: none;
    padding: 10px 5px;
    color: black;
    box-shadow: none;
}

.contact-form textarea {
    background: transparent;
    padding: 10px 5px;
    border-radius: 4px;
    margin-top: 30px;
}

.contact-form button {
    padding: 10px 0px;
    width: 25% !important;
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
}

.newsletter_btn {

    transition: background-color 0.3s ease;
}

.newsletter_btn:hover {
    background-color: #FFD700;
    /* Gold on hover */
    color: #000;
    /* Optional: change text color for contrast */
}



.explore-nz-bg {
    background-image: url('../images/explore-nz-bg.jpg');
}

.south-island-bg {
    background-image: url('../images/south-bg.jpg');
}









.logbook-bg h2 {
    font-size: 18px;
    font-weight: 400;
}








.article-banner-section {
    background-color: rgb(24 24 24 / 92%);
    padding-bottom: 0 !important;
}

.article-banner-section img {}

.article-banner-heading {
    /* margin-bottom: 15px; */
    padding-bottom: 40px;
}

.article-banner-title {
    font-size: 45px;
    font-weight: 700;
    color: #212529;
    letter-spacing: 0.5px;
}



.article-after-banner h2 {
    padding: 0px 0 5px;
    color: #FFD700;
    font-size: 25px;
}

.article-after-banner p {
    color: white;
    padding-bottom: 15px;
}

.article-after-banner li {
    color: white;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "Basic", sans-serif;
}


.article-img-div img {
    object-fit: cover;
    height: 550px;
    width: 100%;
    /* object-position: top; */
}

.default-bullet {
    list-style-type: disc !important;
    padding-left: 20px !important;
    padding: 20px 0;
}








.pick-card {
    margin: 0 10px;
}

.slick-slide {
    display: flex;
    height: auto;
}


.pick-slider {
    width: calc(100% - 50px);
    margin: 0 auto;
}
















.gold-hover-link {
    color: inherit;
    /* Use existing text color */
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    margin-bottom: 10px;
}

/* Hover text color change */
.gold-hover-link:hover {
    color: #565656;
}

/* Underline animation */
.gold-hover-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #565656;
    transition: width 0.3s ease;
}

.gold-hover-link:hover::after {
    width: 100%;
}




.no-bullet {
    list-style-type: none;
    padding-left: 20px !important;
    padding: 20px 0;
}









.pick-bg {
    background-color: white;
    color: black;
}

.pick-bg h3,
.pick-bg p {
    color: #000;
}

.pick-bg h2 {
    color: #0e2c2e;
    letter-spacing: 2px;
}

.slick-prev:before,
.slick-next:before {

    color: black;

}

.after-banner {
    background-color: #dfe6e9;
}

.after-banner-main p {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #565656;

}



.no-shadow {
    box-shadow: none;
}

.link_color {
    color: #0e2c2e !important;
}


.new_shadow {

    background-color: transparent;
    color: white;
    border: none;
    padding: 20px;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


/* .pick .slick-list {
    position: relative;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
} */



/* .pick-slider {
    display: flex;
    gap: 20px;
}

.pick-card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
} */





.card {
    border: none;
    background: #fff;
  }
  
  .card-title {
    font-weight: 700;
    color: #0e2c2e;
  }
  
  .card-title.border-bottom {
    border-color: #0e2c2e !important;
  }
  
  .btn-dark {
    background-color: #0e2c2e;
    border: none;
  }
  
  .card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  


  .card_icon img {
    width: 100px;
    padding: 20px 0;
    height: 115px;
    object-fit: contain;
}


.grid-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.grid-ul2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* .grid-ul li{
    max-width: 428px;
} */

.list-style-none-class{
    list-style-type: none !important;
}


.contact-form h2{
    color: #0e2c2e;
}

.contact-form p{
    color: #0e2c2e;
}



.pick  .slick-list.draggable {
    min-height: 430px;
}


.about-bg .card {
    background-color: #0e2c2e;
}
.about-bg .card li, .about-bg .card p, .about-bg .card h2 {
    color: white;
}


.new-bg-color{
    background-color: #0e2c2e;
}
.new-bg-color  li, .new-bg-color  p, .new-bg-color h2 {
    color: white;
}